{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>DjangoShare</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'posts/semantic.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'posts/custom.css' %}">
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
    </head>
    <body>
        <!-- Our navigation bar in website -->
        <div class="ui menu" id="share-header">
            <div class="ui category search item">
                <div class="ui transparent icon input">
                    <form name="myform" method="GET" action="{% url 'search' %}"> 
                        <input name="q" class="prompt" type="text" placeholder="Search posts...">
                        <i class="search link icon"></i>
                    </form>
                </div>
                <div class="results"></div>
            </div>
            <a href="{% url 'index' %}" class="item">Frontpage</a>
            {% if user.is_authenticated %}
            <a href="{% url 'post-create' %}" class="item">
                <i class="upload icon"></i>
            </a>
            {% endif %}
            <!-- Login, logout and register -->
            <div class="right menu">
                {% if user.is_authenticated %}
                    <div class="item">
                        <a href="{% url 'profile' %}">
                            <div class="ui primary button">Profile</div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'logout' %}">
                            <div class="ui button">Logout</div>
                        </a>
                    </div>
                {% else %}
                    <div class="item">
                        <a href="{% url 'login' %}">
                            <div class="ui button">Login</div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'register' %}">
                            <div class="ui primary button">Register</div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="site-content">
            {% if messages %}
                {% for message in messages %}
                    <div>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}
                
            {% endblock %}
        </div>
    </body>
</html>