{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>DjangoShare</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'posts/semantic.min.css' %}">
    </head>
    <body>
        <!-- Our navigation bar in website -->
        <div class="ui menu">
            <div class="ui category search item">
                <div class="ui transparent icon input">
                    <input class="prompt" type="text" placeholder="Search posts...">
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <a href="{% url 'index' %}" class="item">Frontpage</a>
            <!-- Login, logout and register -->
            <div class="right menu">
                {% if user.is_authenticated %}
                    <div class="item">
                        <a href="{% url 'profile' %}">
                            <div class="ui primary button">Profile</div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'logout' %}">
                            <div class="ui button">Logout</div>
                        </a>
                    </div>
                {% else %}
                    <div class="item">
                        <a href="{% url 'login' %}">
                            <div class="ui button">Login</div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'register' %}">
                            <div class="ui primary button">Register</div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
            
        {% endblock %}
    </body>
</html>